table {
  width: 100%;
  text-align: center;
  margin-top: 45px;
}

.filter {
  width: 100%;
}

.btn-success {
  margin-top: 45px;
  margin-left: 15px;
  background-color: #007bff !important;
  color: #fff;
}